In [1]:
import pandas as pd
import numpy as np

# 1) Series

## Creation of Series Object

### Dictionery to Series object

In [2]:
d={'a':10,'b':20,'c':30}
a=pd.Series(d) # Capital S 8-)
print(a)

a    10
b    20
c    30
dtype: int64

### list/array/tuple to Series object

In [3]:
l=[10,20,30]
b=pd.Series(l)
print(b)
l=np.array([10,20,30])
b=pd.Series(l)
print(b)
l=(10,20,30)
b=pd.Series(l)
print(b)

0    10
1    20
2    30
dtype: int64
0    10
1    20
2    30
dtype: int32
0    10
1    20
2    30
dtype: int64

### Providing both index and data values

In [4]:
l=[10,20,30]
ind=['q','w','e']
b=pd.Series(index=ind,data=l)
print(b)
b=pd.Series(index=l,data=ind)
print(b)

q    10
w    20
e    30
dtype: int64
10    q
20    w
30    e
dtype: object

## holding functions

In [5]:
f=pd.Series([sum,max,min])
print(f)
print(f[0]([1,2,3,4,5,6]))
print(f[1]([1,2,3,4,5,6]))
print(f[2]([1,2,3,4,5,6]))

0    <built-in function sum>
1    <built-in function max>
2    <built-in function min>
dtype: object
21
6
1

In [6]:
se1=pd.Series([1,2,3],index=['a','c','e'])
print(se1)
se2=pd.Series([2,4,6,8],index=['a','d','e','k'])
print(se2)
se1+se2

a    1
c    2
e    3
dtype: int64
a    2
d    4
e    6
k    8
dtype: int64

a    3.0
c    NaN
d    NaN
e    9.0
k    NaN
dtype: float64

# 2) DataFrames

In [7]:
pd.DataFrame?

In [8]:
df=pd.DataFrame(np.random.random((5,3)),index='a b c d e'.split(),columns='X Y Z'.split())
print(df)
print(type(df))
print(type(df['X']))  #indexing not similar to 2D list or array
print(type(df['X']['a'])) #indexing not similar to 2D list or array
#print(type(df['a']['X']))
print(df[['X','Z']]) # select particular columns

          X         Y         Z
a  0.743405  0.517943  0.125828
b  0.214032  0.494563  0.051107
c  0.201255  0.394541  0.952691
d  0.443425  0.025367  0.566454
e  0.179714  0.923638  0.672966
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'numpy.float64'>
          X         Z
a  0.743405  0.125828
b  0.214032  0.051107
c  0.201255  0.952691
d  0.443425  0.566454
e  0.179714  0.672966

### Selecting a row by index or integer index

In [9]:
print(df.loc['a'])
print(df.iloc[1])
print(df.loc['a','X'])
print(df.loc[['a','b'],['X','Y']])

X    0.743405
Y    0.517943
Z    0.125828
Name: a, dtype: float64
X    0.214032
Y    0.494563
Z    0.051107
Name: b, dtype: float64
0.7434045460947805
          X         Y
a  0.743405  0.517943
b  0.214032  0.494563

### creation of a column

In [10]:
df['summ']=df['X']+df['Y']+df['Z']
print(df)

          X         Y         Z      summ
a  0.743405  0.517943  0.125828  1.387175
b  0.214032  0.494563  0.051107  0.759702
c  0.201255  0.394541  0.952691  1.548486
d  0.443425  0.025367  0.566454  1.035246
e  0.179714  0.923638  0.672966  1.776318

### Removal of row & column

In [11]:
print(df.drop('X',axis=1)) # column axis =1
print(df)
print(df.drop('e',axis=0,inplace= True)) # row axis =0
print(df)

          Y         Z      summ
a  0.517943  0.125828  1.387175
b  0.494563  0.051107  0.759702
c  0.394541  0.952691  1.548486
d  0.025367  0.566454  1.035246
e  0.923638  0.672966  1.776318
          X         Y         Z      summ
a  0.743405  0.517943  0.125828  1.387175
b  0.214032  0.494563  0.051107  0.759702
c  0.201255  0.394541  0.952691  1.548486
d  0.443425  0.025367  0.566454  1.035246
e  0.179714  0.923638  0.672966  1.776318
None
          X         Y         Z      summ
a  0.743405  0.517943  0.125828  1.387175
b  0.214032  0.494563  0.051107  0.759702
c  0.201255  0.394541  0.952691  1.548486
d  0.443425  0.025367  0.566454  1.035246

### Conditional Selection

In [13]:
nn=pd.DataFrame(np.random.randint(-10,10,(4,4)),index='A B C D'.split(),columns='X Y Z W'.split())
print(nn)
print(nn>0)
print(nn[nn>0])
print(nn)
nn=nn[nn>0]
print(nn)
print(nn[nn['Z']>0])

    X  Y  Z  W
A  -9  2 -6 -5
B  -5 -6  5 -8
C  -6  8  9 -6
D -10 -9 -1  1
       X      Y      Z      W
A  False   True  False  False
B  False  False   True  False
C  False   True   True  False
D  False  False  False   True
    X    Y    Z    W
A NaN  2.0  NaN  NaN
B NaN  NaN  5.0  NaN
C NaN  8.0  9.0  NaN
D NaN  NaN  NaN  1.0
    X  Y  Z  W
A  -9  2 -6 -5
B  -5 -6  5 -8
C  -6  8  9 -6
D -10 -9 -1  1
    X    Y    Z    W
A NaN  2.0  NaN  NaN
B NaN  NaN  5.0  NaN
C NaN  8.0  9.0  NaN
D NaN  NaN  NaN  1.0
    X    Y    Z   W
B NaN  NaN  5.0 NaN
C NaN  8.0  9.0 NaN

### Reset index

In [17]:
print(nn)
nn=nn.reset_index()
print(nn)

  index   X    Y    Z    W
0     A NaN  2.0  NaN  NaN
1     B NaN  NaN  5.0  NaN
2     C NaN  8.0  9.0  NaN
3     D NaN  NaN  NaN  1.0
   level_0 index   X    Y    Z    W
0        0     A NaN  2.0  NaN  NaN
1        1     B NaN  NaN  5.0  NaN
2        2     C NaN  8.0  9.0  NaN
3        3     D NaN  NaN  NaN  1.0